package ${package}${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package}${moduleName}.dao.${className}Dao;
import ${package}${moduleName}.entity.${className}Entity;
import ${package}${moduleName}.service.${className}Service;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    /**
     * 根据id查询实体
     *
     * @param id id
     * @Author: ${author}
     * @Date: ${datetime}
     * @return: ${package}${moduleName}.entity.${className}Entity;
     **/
    ${className}Entity find${className}ById(String id);

    /**
     * 分页查询
     *
     * @param ${classNameLow}Pram ${classNameLow}Pram
     * @param currPage currPage
     * @param pageSize pageSize
     * @Author: ${author}
     * @Date: ${datetime}
     * @return: com.baomidou.mybatisplus.core.metadata.IPage<${package}${moduleName}.entity.${className}Entity>
     **/
    IPage<${className}Entity> page${className}(Map<String, Object> ${classNameLow}Param, int currPage, int pageSize);

    /**
     * 查询全部
     *
     * @param ${classNameLow}Pram ${classNameLow}Pram
     * @Author: ${author}
     * @Date: ${datetime}
     * @return: java.util.List<${package}${moduleName}.entity.${className}Entity>
     **/
    List<${className}Entity> find${className}List(Map<String, Object> ${classNameLow}Param);

    /**
     * 保存数据
     *
     * @param ${classNameLow} ${classNameLow}
     * @Author: ${author}
     * @Date: ${datetime}
     * @return: java.util.List<${package}${moduleName}.entity.${className}Entity>
     **/
    ${className}Entity save${className}(${className}Entity ${classNameLow});

    /**
     * 删除数据根据id
     *
     * @param ids ids
     * @Author: ${author}
     * @Date: ${datetime}
     **/
    void delete${className}ById(List<String> ids);

}

